.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    font-weight: 700;
  }
}

.narvbar--burger {
  position: absolute;
  font-size: $m-size;
  right: 5%;
  cursor: pointer;
}
