body {
  padding-bottom: 5vw;
}

h1 {
  font-weight: 400;
}

h2, h3, h4 {
  font-weight: 700;
}

p {
  font-weight: 400;
}

.content--container {
  flex-grow: 1;
}

ul {
  padding-inline-start: 0px;
  margin-block-end: 0;
  margin-block-start: 0;
  li {
    margin-bottom: $s-size;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

input, textarea {
  box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
  box-shadow: 1px 1px 4px #EBEBEB;
	-moz-box-shadow: 1px 1px 4px #EBEBEB;
	-webkit-box-shadow: 1px 1px 4px #EBEBEB;
}

// Random Styles
.dark-text {
  color: $dark-text;
}

// Button
.button {
  font-weight: 600;
  font-size: 100%;
  border: none;
  border-radius: 5px;
  padding: 0.75rem 3rem;
  background: $dark-text;
  color: white;
  margin-bottom: 1rem;
  cursor: pointer;
  &:active {
    transform: translate(1px, 1px);
  }
}

// CSS Transitions

.title__color-trans {
  color: $dark-text;
  transition: ease-in-out 150ms;
  &:hover {
    color: $light-grey-text
  }
}

.link__color-trans {
  color: $light-grey-text;
  transition: ease-in-out 150ms;
  &:hover {
    color: $dark-text;
  }
}
